.todo-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .todo {
    max-width: 720px;
    max-height: 480px;
    width: 100%;
    height: 100%;
    padding: 2.4rem;
    border-radius: 1rem;
    margin: 0 1.5rem;
    @include PrimaryBoxShadow;
  }
}
