// Fonts
@font-face {
  font-family: OpenSans300;
  src: url(/src/assets/fonts/OpenSans/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans400;
  src: url(/src/assets/fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans500;
  src: url(/src/assets/fonts/OpenSans/OpenSans-Medium.ttf);
}
@font-face {
  font-family: OpenSans600;
  src: url(/src/assets/fonts/OpenSans/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans700;
  src: url(/src/assets/fonts/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans800;
  src: url(/src/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf);
}
