$color-theme: (
  nsilver: (
    70: hsl(0, 0%, 77%),
  ),
  ngray: (
    10: hsl(214, 9%, 14%),
    30: hsl(0, 0%, 30%),
  ),
  nwhite: (
    100: hsl(0, 0%, 100%),
  ),
  blue: (
    10: hsl(217, 88%, 10%),
    30: hsl(217, 88%, 30%),
    50: hsl(217, 88%, 50%),
    70: hsl(217, 88%, 70%),
  ),
  orange: (
    10: hsl(39, 100%, 10%),
    30: hsl(39, 100%, 30%),
    50: hsl(39, 100%, 50%),
    70: hsl(39, 100%, 70%),
  ),
  crimson: (
    10: hsl(349, 94%, 10%),
    30: hsl(349, 94%, 30%),
    50: hsl(349, 94%, 58%),
    70: hsl(349, 94%, 70%),
  ),
  green: (
    10: hsl(144, 100%, 10%),
    30: hsl(144, 100%, 35%),
    50: hsl(144, 100%, 50%),
    70: hsl(144, 100%, 70%),
  ),
);
